<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" layout layout-align="center">
  <mat-card class="card">
    <mat-card-header style="justify-content: center;">
      Finding it difficult to remember a URL?
    </mat-card-header>
    <mat-card-content>
      <div layout="row">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Paste a link below to shorten it." formControlName="url" type="url">
            <button class="suffix-button" mat-raised-button color="primary" type="submit" matSuffix>Submit</button>
            <mat-error *ngIf="addressForm.controls['url'].hasError('required')">
              A url is required to submit <strong>required</strong>
            </mat-error>
          </mat-form-field>      
      </div>
    </mat-card-content>
  </mat-card>
</form>

<mat-card *ngIf="!shrturl==''" class="card">
  <mat-card-title style="text-align: center;">✔ Successfully Created Short Url</mat-card-title>
  <mat-card-content style="margin-top:20px;text-align: center;">
    <p>You new short url is as follows:</p>
    <a href="{{shrturl}}">{{shrturl}}</a>
    <p>This url will be valid for 90 days.</p>
  </mat-card-content>
</mat-card>
