.full-width {
  width: 100%;
}

.card {
  min-width: 120px;
  max-width: 600px;
  margin: 20px auto;
  // background-color: midnightblue;
}

:host .mat-card-header-text {
  margin: auto;
}

.suffix-button {
  top: -8px !important;
}
